.word {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.example {
 display: flex;
 flex-direction: column;
 justify-content: left;
 margin-top: 20px;
 margin-bottom: 20px;
}